@font-face {
	font-family: OpenSansCondensed;
	src: url(./fonts/OpenSansCondensed-Light.ttf);
}

body {
	font-family: OpenSansCondensed;
	padding: 20px 60px;
}

a {
	text-decoration: none;
	color: #111;
}
